*{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #F4D03F;
}

.barranavegacion{
    color: black;
}

.header{
   /*  background-image: url('header.jpg') ;
    background-size: cover; */
    width: 1260px;
    height: 527px;
    }

.titulos{
    text-align: center;
    margin:20px;
    padding-left: 15px;
  }

  header{
    padding: 50px;
    color: white;
    background-color: black;
}

.container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#mifoto{
    border-radius: 100px;
    float: left;
}


.educacion{
    color: black;
    background-color: #B2BABB;
    padding-bottom: 20px;
}

.galeria{
    width: 1280px;
    height: 350px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 16px;
    background-color: #F4D03F;
    color: black;
}


h4{
    color: white;
    padding-top: 5px;
}

h5{
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
}

section>p{
    text-align: center;
}

section>h4{
    text-decoration: underline;
    padding: 0 auto auto 30px;
    /* text-align: center; */
}


.cont1, .cont2, .cont3, .cont4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

